@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@300&family=Montserrat:ital,wght@1,300&family=Mukta:wght@500&family=Nunito:ital,wght@1,300;1,400&family=Roboto+Condensed:ital@1&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: "Mukta","Lato", sans-serif;
    background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.75),rgba(0, 154, 67, 0.8)), url('../images/ireland-outline.png');
}

.header {
    display: flex;
    width: 100%;
    margin: 0 auto 1px auto;
    max-height: 150px;
}

#logo {
    padding: 1rem;
    max-height: 6rem;
    cursor: pointer;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map{
  color: #fff;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff8200, 0 0 0.5em #ff8200, 0 0 0.1em #ff8200, 0 8px 3px #000;
  text-transform: uppercase;
  margin: 0 auto;
}
  
.play-container {
  margin: 2rem 0;
  animation: blink linear infinite 2s;
}

.play-btn {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 15px 25px;
  text-transform: uppercase;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff8200, 0 0 0.5em #ff8200, 0 0 0.1em #ff8200, 0 8px 3px #000;
  animation: flicker 1.5s infinite alternate;
}
  
.play-btn:focus {
 outline: none;
}

h1 {
  font-size: 3.2rem;
}

p {
  font-size: 1.3rem;
  text-align: center;
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}
      
.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
} 
    
@keyframes shine {
  0% {
    color: #ff8200;
    text-shadow: none;
  }
  100% {
    color: #fff;
    text-shadow: 0 0 0.6rem #ff8200, 0 0 1.5rem #ff8200,
      -0.2rem 0.1rem 1rem #ff8200, 0.2rem 0.1rem 1rem #ff8200,
      0 -0.5rem 2rem #ff8200, 0 0.5rem 3rem #ff8200;
  }
}
      
@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }
   
  6% {
    opacity: 0.85;
  }
   
  8% {
    opacity: 0.95;
  }
    
  10% {
    opacity: 0.9;
  }
    
  11% {
    opacity: 0.922;
  }
    
  12% {
    opacity: 0.9;
  }
    
  14% {
    opacity: 0.95;
  }
    
  16% {
    opacity: 0.98;
  }
    
  17% {
    opacity: 0.9;
  }
    
  19% {
    opacity: 0.93;
  }
    
  20% {
    opacity: 0.99;
  }
    
  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }
    
  28% {
    opacity: 0.98;
  }
    
  37% {
    opacity: 0.93;
  }
    
  38% {
    opacity: 0.5;
  }
    
  39% {
    opacity: 0.96;
  }
    
  42% {
    opacity: 1;
  }
    
  44% {
    opacity: 0.97;
  }
    
  46% {
    opacity: 0.94;
  }
    
  56% {
    opacity: 0.9;
  }
    
  58% {
    opacity: 0.9;
  }
    
  60% {
    opacity: 0.99;
  }
    
  68% {
    opacity: 1;
  }
    
  70% {
     opacity: 0.9;
  }
    
  72% {
    opacity: 0.95;
  }
    
  93% {
    opacity: 0.93;
  }
    
  95% {
    opacity: 0.95;
  }
    
  97% {
     opacity: 0.93;
  }
    
  to {
    opacity: 1;
  }
}

/* for screen sizes 500px wide and down. 500px/16px = 31.25rem */

@media screen and (max-width: 31.25rem) {
  .header {
    display: block;
    text-align: center;
    /* top: 15%;
    left: 40%;
    transform: translateY(-10%); */
  }

  .map {
    display: inline-flex;
    text-align: center;
  }
}